In [3]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 
from pandas import *

In [4]:
df = pd.read_csv('20210808.csv')

In [5]:
df.head(10)

,duration,is_buy_order,issued,location_id,min_volume,order_id,price,range,system_id,type_id,volume_remain,volume_total,region_id,http_last_modified,station_id,constellation_id,universe_id
0,90,True,2021-07-24T06:44:53Z,60014437,1,5980151223,5.3,region,30000001,18,241153,250000,10000001,2021-08-08T00:12:35Z,60014437.0,20000001,eve
1,90,False,2021-06-22T02:25:37Z,60014071,1,6025877926,5000.0,region,30000017,19,307,307,10000001,2021-08-08T00:12:35Z,60014071.0,20000003,eve
2,90,False,2021-05-22T14:13:15Z,60013867,1,6005466300,6000.0,region,30000019,19,5560,9191,10000001,2021-08-08T00:12:35Z,60013867.0,20000003,eve
3,90,False,2021-05-27T08:14:29Z,60013867,1,6008912593,5999.0,region,30000019,19,1,1,10000001,2021-08-08T00:12:35Z,60013867.0,20000003,eve
4,90,False,2021-06-13T15:04:45Z,60013867,1,6020507446,5999.0,region,30000019,19,9791,9791,10000001,2021-08-08T00:12:35Z,60013867.0,20000003,eve
5,90,False,2021-06-04T22:59:18Z,60012163,1,6014715183,5000.0,region,30000044,19,8349,8349,10000001,2021-08-08T00:12:35Z,60012163.0,20000007,eve
6,90,False,2021-06-22T02:07:43Z,60012136,1,6025871283,5000.0,region,30000102,19,187,187,10000001,2021-08-08T00:12:35Z,60012136.0,20000014,eve
7,90,True,2021-07-10T21:11:44Z,60014437,1,6036855522,50.0,region,30000001,19,91501,100000,10000001,2021-08-08T00:12:35Z,60014437.0,20000001,eve
8,90,False,2021-06-26T10:47:10Z,60014437,1,6028377466,1600.0,region,30000001,20,432421,525115,10000001,2021-08-08T00:12:35Z,60014437.0,20000001,eve
9,90,False,2021-08-04T17:17:10Z,60013867,1,6052115250,1200.0,region,30000019,20,18517,18517,10000001,2021-08-08T00:12:35Z,60013867.0,20000003,eve

In [6]:
df = df.drop(['http_last_modified','issued','is_buy_order'], axis=1)

In [7]:
df.head(10)

,duration,location_id,min_volume,order_id,price,range,system_id,type_id,volume_remain,volume_total,region_id,station_id,constellation_id,universe_id
0,90,60014437,1,5980151223,5.3,region,30000001,18,241153,250000,10000001,60014437.0,20000001,eve
1,90,60014071,1,6025877926,5000.0,region,30000017,19,307,307,10000001,60014071.0,20000003,eve
2,90,60013867,1,6005466300,6000.0,region,30000019,19,5560,9191,10000001,60013867.0,20000003,eve
3,90,60013867,1,6008912593,5999.0,region,30000019,19,1,1,10000001,60013867.0,20000003,eve
4,90,60013867,1,6020507446,5999.0,region,30000019,19,9791,9791,10000001,60013867.0,20000003,eve
5,90,60012163,1,6014715183,5000.0,region,30000044,19,8349,8349,10000001,60012163.0,20000007,eve
6,90,60012136,1,6025871283,5000.0,region,30000102,19,187,187,10000001,60012136.0,20000014,eve
7,90,60014437,1,6036855522,50.0,region,30000001,19,91501,100000,10000001,60014437.0,20000001,eve
8,90,60014437,1,6028377466,1600.0,region,30000001,20,432421,525115,10000001,60014437.0,20000001,eve
9,90,60013867,1,6052115250,1200.0,region,30000019,20,18517,18517,10000001,60013867.0,20000003,eve

In [8]:
df.to_csv("20210808.csv", encoding='utf-8', index=False)